Quran and Namaz.xcodeproj/project.xcworkspace/xcuserdata/User.xcuserdatad/UserInterfaceState.xcuserstate
Quran and Namaz.xcodeproj/xcuserdata/User.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Quran and Namaz.xcodeproj/xcuserdata/User.xcuserdatad/xcschemes/xcschememanagement.plist
